#item {
    --highlight-background: #d2d2d2;
}

#item ion-label {
    color: white;
}

#add {
    width: 40px;
    height: 40px;
}


/* .item-has-focus .label-floating.sc-ion-label-md-h {
    color: rgb(122, 122, 122) !important;
} */